@import '../../../../theme/theme.scss';

.programming-skills {
  margin-top: $SIDEBAR_COMPONENT_MARGIN_TOP;
  padding-left: $SIDEBAR_COMPONENT_PADDING_LEFT;

  .title {
    padding: 0;
    margin: 0;
    color: $COLOR_BRAND_BLUE;
    font-size: $SIDEBAR_TITLE_FONT_SIZE;
    font-weight: bold;
  }

  .content {
    margin-top: $SIDEBAR_CONTENT_MARGIN_TOP;
    font-size: $SIDEBAR_TEXT_FONT_SIZE;

    table {
      text-align: center;
      width: 100%;

      tr {
        height: 20px;
      }
    }
  }
}