@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

$FONT: 'Roboto', sans-serif;

$FONT_WEIGHT_THIN: 100;
$FONT_WEIGHT_LIGHT: 300;
$FONT_WEIGHT_REGULAR: 400;
$FONT_WEIGHT_MEDIUM: 500;
$FONT_WEIGHT_BOLD: 700;
$FONT_WEIGHT_BLACK: 900;

$COLOR_BRAND_BLACK: #505050;
$COLOR_BRAND_BLUE: #003d74;
$COLOR_BRAND_LIGHT_BLUE: #4472c4;

$MAINBAR_COMPONENT_MARGIN_TOP: 1em;
$MAINBAR_COMPONENT_TITLE_FONT_SIZE: 15px;
$MAINBAR_SUBCOMPONENT_MARGIN_TOP: 0.5em;
$MAINBAR_SUBCOMPONENT_TITLE_FONT_SIZE: 12px;
$MAINBAR_SUBCOMPONENT_TEXT_FONT_SIZE: 11px;

$SIDEBAR_COMPONENT_MARGIN_TOP: 1em;
$SIDEBAR_COMPONENT_PADDING_LEFT: 0.5em;
$SIDEBAR_CONTENT_MARGIN_TOP: 0.5em;
$SIDEBAR_TITLE_FONT_SIZE: 16px;