@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.head-banner {
  display: grid;
  grid-template-areas: 'avatar content content content' 'avatar content content content' 'desc desc desc desc';
  grid-gap: 5px; }
  .head-banner .avatar {
    grid-area: avatar; }
  .head-banner .content {
    grid-area: content;
    padding: 0px 0px 0px 5px; }
    .head-banner .content #fullname {
      padding: 0;
      margin: 0;
      font-size: 27px;
      color: #003d74; }
    .head-banner .content .text {
      padding: 0;
      margin: 0;
      font-size: 15px; }
    .head-banner .content #location {
      margin: 0px 5px; }
  .head-banner .description {
    grid-area: desc;
    padding: 0;
    margin: 0;
    font-size: 12px; }
