@import '../../../../theme/theme.scss';

.head-banner {
  .avatar {
    width: 100px;
    img {
      border-radius: 50%;
      height: 100px;
      grid-area: avatar;
    }
  }

  .content {
  	padding-left: 10px;
    

  	#fullname {
  	  padding: 0;
  	  margin: 0;
  	  font-size: 27px;
      font-weight: bold;
      color: $COLOR_BRAND_BLUE;
  	}

  	.text {
  	  padding: 0;
  	  margin: 0;
  	  font-size: 15px;
  	}

    img {
      height: 12px;
    }

  	span {
  	  margin: 0px 5px;
  	}
  }

  .description {
  	padding: 0;
  	margin: 0;
  	font-size: 12px;
  }
}