@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.education {
  margin-top: 1em; }
  .education .title {
    padding: 0;
    margin: 0;
    color: #003d74;
    font-size: 15px;
    font-weight: bold; }
  .education .record {
    margin-top: 0.5em; }
    .education .record .period {
      font-size: 11px;
      width: 70px;
      vertical-align: top; }
      .education .record .period p {
        padding: 0;
        margin: 0; }
    .education .record .content {
      padding: 0;
      margin: 0;
      font-size: 11px; }
      .education .record .content .period {
        padding: 0;
        margin: 0; }
      .education .record .content .institution {
        padding: 0;
        margin: 0;
        font-size: 12px;
        font-weight: bold; }
      .education .record .content .description {
        padding: 0;
        margin: 0; }
      .education .record .content .score {
        padding: 0;
        margin: 0; }
