@import '../../../../theme/theme.scss';

.education {
  margin-top: $MAINBAR_COMPONENT_MARGIN_TOP;

  .title {
    padding: 0;
    margin: 0;
    color: $COLOR_BRAND_BLUE;
    font-size: $MAINBAR_COMPONENT_TITLE_FONT_SIZE;
    font-weight: bold;
  }

  .record {
    margin-top: $MAINBAR_SUBCOMPONENT_MARGIN_TOP;

    .period {
      font-size: $MAINBAR_SUBCOMPONENT_TEXT_FONT_SIZE;
      width: 70px;
      vertical-align: top;

      p {
        padding: 0;
        margin: 0;
      }
    }

    .content {
      padding: 0;
      margin: 0;
      font-size: $MAINBAR_SUBCOMPONENT_TEXT_FONT_SIZE;

      .period {
        padding: 0;
        margin: 0;
      }

      .institution {
        padding: 0;
        margin: 0;
        font-size: $MAINBAR_SUBCOMPONENT_TITLE_FONT_SIZE;
        font-weight: bold;
      }

      .description {
        padding: 0;
        margin: 0;
      }

      .score {
        padding: 0;
        margin: 0;
      }
    }
  }
}