@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.page {
  color: #505050;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas: 'mainbar mainbar mainbar sidebar' 'footer footer footer footer';
  grid-gap: 5px; }
  .page .mainbar {
    grid-area: mainbar;
    padding: 25px 0px 25px 25px; }
  .page .sidebar {
    grid-area: sidebar;
    padding: 25px 25px 25px 5px;
    border-style: solid;
    border-color: #a0a0a0;
    border-width: 0px 0px 0px 1px; }
  .page footer {
    grid-area: footer;
    font-style: italic;
    text-align: right;
    font-size: 9px;
    padding: 0px 25px 3px 0px; }
