@import 'theme/styles/theme';

$BORDER_PADDING: 25px;

.page {
  color: $COLOR_BRAND_BLACK;
  font-family: $FONT;
  display:grid;
  grid-template-areas:
  	'mainbar mainbar mainbar sidebar';
  grid-gap:5px;

  .mainbar {
    grid-area: mainbar;
    padding: $BORDER_PADDING 0px $BORDER_PADDING $BORDER_PADDING;
  }

  .sidebar {
    grid-area: sidebar;
    padding: $BORDER_PADDING $BORDER_PADDING $BORDER_PADDING 5px;
    border-style: solid;
    border-color: #a0a0a0;
    border-width: 0px 0px 0px 1px;
  }
}
