@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.work-experience-component {
  margin-top: 1em; }
  .work-experience-component .title {
    padding: 0;
    margin: 0;
    color: #003d74;
    font-size: 15px;
    font-weight: bold; }

.work-experience .content {
  padding: 0;
  margin: 0;
  font-size: 11px;
  display: grid;
  grid-template-areas: 'period role role role' 'period coy coy coy' 'period desc desc desc'; }
  .work-experience .content .period {
    grid-area: period;
    padding: 0;
    margin: 0; }
  .work-experience .content .role {
    grid-area: role;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: bold; }
  .work-experience .content .company {
    grid-area: coy;
    padding: 0;
    margin: 0; }
  .work-experience .content .description {
    grid-area: desc;
    padding: 0;
    margin: 0; }
    .work-experience .content .description ul {
      padding-left: 0px; }
