@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.work-experience-component {
  margin-top: 1em; }
  .work-experience-component .title {
    padding: 0;
    margin: 0;
    color: #003d74;
    font-size: 15px;
    font-weight: bold; }

.work-experience {
  margin-top: 0.5em; }
  .work-experience .period {
    font-size: 11px;
    width: 70px;
    vertical-align: top; }
    .work-experience .period p {
      padding: 0;
      margin: 0; }
  .work-experience .content {
    padding: 0;
    margin: 0;
    font-size: 11px; }
    .work-experience .content .role {
      padding: 0;
      margin: 0;
      font-size: 12px;
      font-weight: bold; }
    .work-experience .content .company {
      padding: 0;
      margin: 0; }
    .work-experience .content .description {
      padding: 0;
      margin: 0; }
      .work-experience .content .description ul {
        margin-top: 3px;
        padding-left: 12px; }
