@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.language-proficiency {
  margin-top: 1em;
  padding-left: 0.5em; }
  .language-proficiency .title {
    padding: 0;
    margin: 0;
    color: #003d74;
    font-size: 16px;
    font-weight: bold; }
  .language-proficiency .content {
    margin-top: 0.5em; }
    .language-proficiency .content table {
      width: 100%; }
      .language-proficiency .content table tr {
        height: 20px; }
        .language-proficiency .content table tr .language {
          font-size: 11px; }
        .language-proficiency .content table tr .shaded {
          height: 7px;
          width: 7px;
          margin-right: 3px;
          background-color: #4472c4;
          border-radius: 50%;
          border-width: 2px;
          border-style: solid;
          border-color: #003d74;
          display: inline-block; }
        .language-proficiency .content table tr .unshaded {
          height: 7px;
          width: 7px;
          margin-right: 3px;
          background-color: white;
          border-radius: 50%;
          border-width: 2px;
          border-style: solid;
          border-color: #003d74;
          display: inline-block; }
