@import 'theme/styles/theme';

.language-proficiency{
  margin-top: $SIDEBAR_COMPONENT_MARGIN_TOP;
  padding-left: $SIDEBAR_COMPONENT_PADDING_LEFT;

  .title {
    padding: 0;
    margin: 0;
    color: $COLOR_BRAND_BLUE;
    font-size: $SIDEBAR_TITLE_FONT_SIZE;
    font-weight: bold;
  }

  .content {
    margin-top: $SIDEBAR_CONTENT_MARGIN_TOP;

    .language {
      display: grid;
      grid-template-areas:
        'text dot';

      .text {
        padding-top: 3px;
        margin: 0;
        font-size: $SIDEBAR_TEXT_FONT_SIZE;
        width: 70px;
        grid-area: text;
      }

      .proficiency {
        grid-area: dot;

        .shaded {
          height: 7px;
          width: 7px;
          margin-right: 3px;
          background-color: $COLOR_BRAND_LIGHT_BLUE;
          border-radius: 50%;
          border-width:2px;
          border-style: solid;
          border-color: $COLOR_BRAND_BLUE;
          display: inline-block;
        }

        .unshaded {
          height: 7px;
          width: 7px;
          margin-right: 3px;
          background-color: white;
          border-radius: 50%;
          border-width:2px;
          border-style: solid;
          border-color: $COLOR_BRAND_BLUE;
          display: inline-block;
        }
      }
    }
    

    
  }
}