@import 'theme/styles/theme';

.project-component {
  margin-top: $MAINBAR_COMPONENT_MARGIN_TOP;

  .title {
    padding: 0;
    margin: 0;
    color: $COLOR_BRAND_BLUE;
    font-size: $MAINBAR_COMPONENT_TITLE_FONT_SIZE;
    font-weight: bold;
  }
}

.project {
  .content {
    padding: 0;
    margin: 0;
    font-size: $MAINBAR_SUBCOMPONENT_TEXT_FONT_SIZE;
    display: grid;
    grid-template-areas:
    'period role role role'
    'period name name name'
    'period desc desc desc';

    .period {
      grid-area: period;
      padding: 0;
      margin: 0;
    }

    .role {
      grid-area: role;
      padding: 0;
      margin: 0;
      font-size: $MAINBAR_SUBCOMPONENT_TITLE_FONT_SIZE;
      font-weight: bold;
    }

    .name {
      grid-area: name;
      padding: 0;
      margin: 0;
    }

    .description {
      grid-area: desc;
      padding: 0;
      margin: 0;

      ul {
        padding-left: 0px;
      }
    }
  }
}